@charset "utf-8";

html{
    font-size: 62.5%;
}

body{
    color:#333;
    font-size: 1.6rem;
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    background-color: #eee;
}

a{
    color:#333;
}

.text_center{
    text-align: center;
}

.wrapper{
    max-width: 1140px;
    margin: auto;
}

img{
    max-width: 100%;
    height: auto;
}
/*-------------------------------- 
header
--------------------------------*/
.header{
    background-color: rgba(238, 238, 238, 0.9);
    z-index: 1;
    font-family: "Noto Sans Japanese";
}

.header_wrapper{
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
    padding: 0 10px;
}

.site_title{
    font-size: 2.4rem;
}

.header_item{
    margin-left: 10px;
}

.btn-trigger,.nav_resp{
    display: none;
}
/*-------------------------------- 
nav
--------------------------------*/
.nav{
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    padding: 15px;
}

.nav a{
    margin: 0 10px;
}
/*-------------------------------- 
works
--------------------------------*/
.works{
    max-width: 980px;
}

.works_list{
    margin:30px 0;
}

.sub{
    font-size: 1.2rem;
    margin-left: 10px;
    margin-bottom: 4px;
    color: #888888;
}

.title{
    margin: 8px 0px 4px 10px;
}

.works_title{
    margin-left: 2px;
}

.works_wrapper{
    display: flex;
}

.works_item{
    max-width: 490px;
    margin: 1px;
    position: relative;
}

/* works_animation */
.mask{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
    opacity: 0;
    transition: all 0.2s ease;
}

.caption{
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0%;
    font-size: 1.6rem;
    padding: 10px 0 ;
	text-align: center;
    color: #333;
    background-color:rgba(192, 192, 192, 0.9);
}
/*-------------------------------- 
footer
--------------------------------*/
.arrow_footer{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: auto;
}

.footer{
    padding: 12px 0;
}

.copyrights{
    font-size: 1.4rem;
}
/*-------------------------------- 
footer_profile
--------------------------------*/
.footer_contact{
    display: flex;
    justify-content: center;
    margin: 200px auto 20px;
}

.footer_contact a img{
    height: 40px;
    width: auto;
    margin: 0 20px;
}
/*-------------------------------- 
profile
--------------------------------*/
.prf{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    line-height: 2rem;
}

.prf_title{
    font-weight: bold;
}

.prf_img{
    width: 350px;
    height: auto;
    margin: 0 20px;
}

.prf_contents{
    max-width: 500px;
}

.prf_detail{
    font-size: 1.4rem;
}

/*-------------------------------- 
responsive/1140or1020
--------------------------------*/
@media screen and (max-width:1020px){
    .wrapper{
        box-sizing: border-box;
        
    }
    .explain{
        font-size: 1.4rem;
    }

    /* トップページには不要 */
    /* .works{
        max-width: 490px;
    } */

}

@media screen and (max-width:640px){
    /*-------------------------------- 
    header
    --------------------------------*/
    .header{
        position: fixed;
        width: 100%;
        top: 0;
    }

    .header_wrapper{
        display: block;
        height: 60px;
    }

    .site_title{
        font-size: 1.6rem;
        padding: 24px 0;
        text-align: center;
    }

    .btn-trigger{
        appearance: none;
        -webkit-appearance: none;
        display: block;
        position: fixed;
        top: 12px;
        right: 12px;
        width: 30px;
        z-index: 100;
        padding: 0;
        border: none;
        background-color: transparent;
        box-shadow: none;
        outline: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .btn-trigger.active use:nth-of-type(1){
        transform: translateY(30px) rotate(-45deg);
    }
    .btn-trigger.active use:nth-of-type(2){
        opacity: 0;
    }
    .btn-trigger.active use:nth-of-type(3){
        transform: translateX(35px) translateY(-15px) rotate(45deg);
    }

    .header_item, .nav{
        display: none;
    }

    .nav_resp{
        font-family: "Noto Sans Japanese";
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 1;
        text-align: center;
        padding: 64px 0 0;
    }

    .nav_resp li{
        margin: 0 0 30px;
    }

    .nav_resp li a{
        display: block;
        font-size: 2.1rem;
    }
    /*-------------------------------- 
    works
    --------------------------------*/
    .works, .prf{
        margin-top: 80px;
    }

    .works_wrapper{
        display: block;
    }

    .works_list{
        margin: 0 8px;
    }

    .works_item{
        margin: 5px 0;
    }

    .works_wrapper a img{
        margin: 3px 0;
    }

    /* .arrow_footer{
        width: 30px;
        height: auto;
    } */
    /*-------------------------------- 
    profile_responsive
    --------------------------------*/

    .prf{
        display: block;
        max-width: 400px;
    }
    .prf_img{
        width: 250px;
        height: auto;
        display: block;
        margin: 0 auto 20px;
    }

    .prf_detail{
        font-size: 1.2rem;
    }

    .footer_contact{
        margin: 50px auto 10px;
    }

    .footer_contact a img{
        height: 30px;
        width: auto;
        margin: 0 10px;
    }

}